<html>
    <head>
        <style>
            body{
                background-color: white;
                text-align: center;
                color: black;
               

            }
            h1{
                margin-top: 100px;
                margin-left: 100px;
                font-size: 80px;
                font-weight: 400;
                text-align: start;}
        </style>
    </head>
    <body>
        <h1>Good news!☺<br/> 
            Our patient is cancer-free and ready to conquer the world!</h1>
       
    </body>
</html>